@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin: 1em;
}

h1 {
  font-size: 4em;
}

.top {
  display: flex;
  flex-direction: row;
}

.new {
  margin: 2em;
  background-color: #3277D8;
  border-radius: 1em;
  padding: 1em;
  color: white;
}

.upload-row {
  border-radius: 1em;
  background-color: #F3ECEC;
  padding: 1em;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  display: flex;
  align-items: center;
}

.upload-row .title {
  width: 30%;
  font-size: 1.5em;
}

.upload-row .pic {
  width: 20%;
}

.loading-bar {
  height: 4px;
  background-color: #D56D6D;
  flex-grow: 1;
}

.loading-bar .done {
  height: 4px;
  background-color: #5AA753;
  flex-grow: 1;
}

.tags {
  display: flex;
}

.tag {
  border-radius: 1em;
  background-color: #79aad5;
  margin: 0.2em;
  font-size: 0.7em;
  padding: 0.2em 1em;
  position: relative;
}

.tag.all {
  background-color: #aaa7a7;
}

.tag.okey {
  background-color: #72BD5B;
}

.tag.under-exposed {
  background-color: #5660b7;
}

.tag.over-exposed {
  background-color: #D7B94E;
}

.tag.analyzing {
  background-color: #B259A8;
  margin-left: auto;
}

.img-preview {
  display: flex;
  flex-direction: column;
}


.img-preview img {
  max-height: 8em;
  max-width: 12em;
}

.tag.floating {
  position: absolute;
}

.tag.disabled {
  border-width: 2px;
  opacity: 0.5;
}


.upload {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;
  border-style: dashed;
  border-width: 3;
  border-color: #bcbaba;
  min-width: 25em;
}

.imgPreview {
  display: flex;
  flex-direction: column;
  position: relative;
}

.imgPreview img {
  max-height: 8em;
  max-width: 12em;
}

.overExposed {
  border-radius: 3px;
  background: #dbd034;
  width: fit-content;
  padding: 0 0.5em;
  font-size: 0.8rem;
  margin: 0.3em;
  position: absolute;
}

.underExposed {
  border-radius: 3px;
  background: #346cdb;
  width: fit-content;
  padding: 0 0.5em;
  font-size: 0.8rem;
  margin: 0.3em;
  position: absolute;
}

.ok {
  border-radius: 3px;
  background: #69db34;
  width: fit-content;
  padding: 0 0.5em;
  font-size: 0.8rem;
  margin: 0.3em;
  position: absolute;
}

.imagesGrid {
  display: flex;
  flex-wrap: wrap;
  max-height: 50vh;
  overflow: scroll;
  position: relative;
}


.actions {
  display: flex;
}

.actions button {
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  flex: 1;
}

.upload-button {
  background-color: #4163cb;
}

.analyse-button {
  background-color: #c55454;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.floating {
  position: fixed;
  background-color: #f0f0f0;
  border-radius: 1em;
  padding: 2em;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-input {
  border-color: black;
  border-width: 1px;
  background-color: white;
}

.cancel {
  background-color: #ce3838;
  border-radius: 1em;
  padding: 1em;
  margin-right: 1em;
}

.validate {
  background-color: #3277D8;
  border-radius: 1em;
  padding: 1em;
  margin-right: 1em;
}

.login-button {
  padding: 1em 0;
  margin-top: 2em;
  color: #3277D8;
  border-radius: 0.4em;
}